<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
    <body>
        <h1> Welcome to Trip Buddy </h1>
        <div class='container'>
        <h3> Register </h3>
        <form action="/register" method="post">
            {%csrf_token%}
            <form class="dropdown-menu p-4">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail2">First Name</label>
                        <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="First name" name='first_name'>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword2">Last Name</label>
                        <input type="text" class="form-control" id="exampleDropdownFormPassword2" placeholder="Last name" name='last_name'>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail2">Email address</label>
                        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" name='email'>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword2">Password</label>
                        <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" name='password'>
                    </div>
                    <div class="form-group">
                            <label for="exampleDropdownFormPassword2">Confirm Password</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Confirm Password" name='confirm'>
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword2">Date of Birth:</label>
                         <input type="date" class="form-control" id="exampleDropdownFormPassword2" name='birth_date'>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </form>

        <h3> Login </h3>
        <form action="/login" method="post">
            {% csrf_token %}
            <form class="dropdown-menu p-4">
                <div class="form-group">
                    <label for="exampleDropdownFormEmail2">Email address</label>
                    <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" name='email'>
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword2">Password</label>
                    <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" name='password'>
                </div>
                <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
        </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
    </body>
</html>